## **Mastering business rules in your T-SQL Queries**

The concept of this notebook is to discuss the problem of coding business rules, work processes and any other type of business logic in your T-SQL code. This habit usually backfires in a form of poor documentation, many business rules coded on many different places, queries, procedures, functions or views.

We will take a look into couple of bad habits and provide a clean, better and sustainable solutions, that one can implement into their code.

  

1\. Repetitive tasks

2\. Business logic in SELECT clause

3\. Business logic build in WHERE clauseÂ 

4\. Implementing error coding

To go through the understanding of the ideas and solution, let's create a simple data sample.

In [10]:
USE QL;
-- Create sample tables and data

DROP TABLE IF EXISTS dbo.PERSON
DROP TABLE IF EXISTS dbo.INVOICE


CREATE TABLE dbo.PERSON 
(
     ID INT NOT NULL
    ,[Name] VARCHAR(20)
    ,ZIP VARCHAR(20)
    ,Number_Purchases INT
)
INSERT INTO dbo.PERSON (ID, [Name], ZIP, Number_Purchases)
SELECT 1, 'Mike', 93120, 22 UNION ALL
SELECT 2, 'Polde', NULL, 0 UNION ALL
SELECT 3, 'Jane', 1000, 2 UNION ALL
SELECT 4, 'Stacey', 35330, NULL 



CREATE TABLE dbo.INVOICE
(
     ID_Invoice INT NOT NULL
    ,ID_Product VARCHAR(50) NULL
    ,PRoduct_NAme Varchar(100) 
    ,ID_Person INT
    ,ProductQuantity INT
    ,PRoductPrice DECIMAL(10,2)
)

INSERT INTO dbo.INVOICE (ID_Invoice, ID_Product, Product_Name, ID_Person, ProductQuantity, PRoductPrice)
SELECT 120, '11110111','Hand Watch', 2, 1, 100 UNION ALL
SELECT 111, '11119214','Small TV', 5,1,-1 UNION ALL
SELECT 111, '11119421','Small remote', 5,1,10 UNION ALL
SELECT 140, '1111241','Powerbank', 4,NULL,NULL UNION ALL
SELECT 144, '1111242','Powerbank v2', 3,1,NULL

In addition to

**1. Repetitive tasks**

**2. SELECT Clause**